body {
  padding-top: 5rem;
  background-color: #a3c6ff;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.cash-balance {
  color: white;
}

.box-square {
  padding: 40px;
  background-color: blue;
}
